@model BTL_WEB.ViewModels.Services.ServiceFormViewModel
@{
    ViewData["Title"] = "Chỉnh sửa dịch vụ";
}
<h1 class="h4 mb-3">Chỉnh sửa dịch vụ</h1>
<partial name="_Form" model="Model" />
@section Scripts { <partial name="_ValidationScriptsPartial" /> }
